@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


.font {
    font-family: "Fredoka", serif;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    
}
.wall {
       margin-left: auto;
       margin-right: auto;
       width: 100%;
       height: 150px;
       object-fit: cover;
}